nav {
    background-color: rgb(18, 150, 190);
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: white;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    color: white;
    font-size: 25px;
}

nav ul li {
    margin-right: 15px;
    color: black;
}

nav ul li img {
    width: 75px;
    border-radius: 50px;

}

div a {
    font-size: 25px;
}

.nav-left {
    flex: 50%;
}

.nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 30px;
}

.nav-right a {
    background-color: black;
    padding: 10px 15px;
    color: white;
    border-radius: 15px;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

.detailproject {
    
    margin: 0px;
}
.projectdetailtitle {
    text-align: center;
}

.detail-project-content {
    text-align: center;
}

.detailproject .detailprojectcard img {
    display: flex;
    width: 50%;
    left: -100px;
    
    padding: 15px;
    margin: auto;
    left: auto;
    
}

.detail-project-description {
    text-align: center;
}